:root {
  --background: #0B0D0F;
  --background2: #14151b;
  --background-button: #242630;
  --background-button2: #343641;
  --blue: #3cb8c9;
  --gray: #cecece;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}